.forgot-password-page {
    background-color: #7f5cf1;
    height: 100vh;
}

.forgot-password-container {
    border-color: black;
    border-width: 2px;
    border-radius: 8px;
    padding: 10%;
    display: flex;
    justify-content: space-between;
    height: 500px;
    background-color: #f0f0f0;
}

.forgot-password-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex: 1;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password-right {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20px;
    flex: 1;
    background: linear-gradient(45deg, #7f5cf1, #5a3bed);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password-form {
    width: 80%;
}

.input-group {
    margin-bottom: 20px;
}

input {
    width: 75%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.forgot-password-btn {
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    background-color: #7f5cf1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password-btn:hover {
    background-color: #5a3bed;
}