/* General Styles */
.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .signup-container {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10%;
    width: 70%;
    height: auto;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .signup-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex: 1;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-right {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20px;
    flex: 1;
    background: linear-gradient(45deg, #7f5cf1, #5a3bed);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .signup-form {
    width: 80%;
  }
  
  .input-group {
    margin-bottom: 20px;
    position: relative; /* To position the icons properly */
    width: 100%;
  }
  
  input {
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .password-group {
    position: relative;
    width: 100%;
  }
  
  .password-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .signup-btn {
    width: 20%;
    padding: 10px;
    margin-top: 20px;
    background-color: #7f5cf1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background-color: #5a3bed;
  }
  
  .login-prompt {
    margin-top: 20px;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
