.footer{
    background: linear-gradient(90deg, #9181F4, #4228ed);
    height: 200px;
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.footer hr{
    width: 75%;
    text-align: center;
    color: white;
}
.flex{
    display: flex;
    gap: 10vw;
}
.flex div svg{
    height: 30px;
    width: 30px;
}