/* .parent{
    position: relative; 
    height: 100px;
} */

.container{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right:10px ;
    padding-top: 5px;
    height: 81px;
    position: absolute;
    background-color: transparent;
    z-index: 100;
    color: white;
}
.logo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
   
}
.logo svg{
    /* color: white; */
    height: 30px;
    width: 30px;
}
.logo p{
    font-weight: bold;
    font-size: 28px;
    position: relative;
    bottom: 22px;
}
.list ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 555px;

}
.list ul li{
    list-style: none;
    font-weight: 200;
    font-size:18px ;
}
.list ul li:hover{
    text-decoration: underline;
    font-size:19px 
}
.button button{
    height: 42px;
    width: 125px;
    border-radius: 13px;
    background-color: #9181F4;
    border: none;
    font-size: 20px;
}
button:hover{
    font-weight: bold;
}